{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Resources" : {
    "taskdefn": {
      "Type": "AWS::ECS::TaskDefinition",
      "Properties" : {
        "ContainerDefinitions" : [
          {% for container in ecs_task_container_definitions %}
          {{ container|to_json }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        ],
        "Volumes": [
          {% for volume in ecs_task_volume_definitions %}
          {{ volume|to_json }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        ]
        {% if ecs_task_role_arn is defined %}
        ,
        "TaskRoleArn": "{{ ecs_task_role_arn }}"
        {% endif %}
      }
    }
  },
  "Outputs" : {
    "taskdef" : {
      "Value" : { "Ref" : "taskdefn" }
    }
  }
}
