{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "service": {
    "Type": "AWS::ECS::Service",
    "Properties" : {
      "Cluster": "{{ ecs_cluster }}",
      "DesiredCount": "{{ ecs_service_count }}",
      "LoadBalancers": [
        {
          "ContainerName": "{{ ecs_container_name }}",
          "ContainerPort": "{{ ecs_container_port ",
          "LoadBalancerName" : "{{ ecs_elastic_Load_balancer }}"
        }
      ],
      "Role" : "{{ ecs_service_role }}",
      "TaskDefinition" : "{{ ecs_task_definition }}"
    }
  }
}
